In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# Import mean_squared_error from sklearn
from sklearn.metrics import mean_squared_error
sb.set() # set the default Seaborn style for graphics

In [2]:
data = pd.read_csv('lovoo_v3_users_api-results.csv')
data.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [3]:
#check for NA or NULL value
data.isna().sum()

gender                       0
genderLooking                0
age                          0
name                         0
counts_details               0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
counts_fans                  0
counts_g                     0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
country                      0
city                       286
location                    13
distance                    46
isFlirtstar                  0
isHighlighted                0
isInfluencer                 0
isMobile                     0
isNew                        0
isOnline                     0
isVip                        0
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
verified                     0
shareProfileEnabled          0
lastOnlineDate               1
lastOnlineTime               1
birthd                       0
crypt                     3946
freetext                  3879
whazzup                   1593
userId                       0
pictureId                   91
isSystemProfile           3990
dtype: int64

drop ['city', 'location', 'distance','crypt', 'freetext', 'whazzup', 'isSystemProfile']

In [4]:
data2 = pd.read_csv('lovoo_v3_users_instances.csv')
data.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [5]:
#check for NA or NULL value
data2.isna().sum()

gender                       0
age                          0
name                         0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
connectedToFacebook          0
isVIP                        0
isVerified                   0
lastOnline                   1
lastOnlineTs                 1
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
city                       209
locationCity                10
locationCitySub           2872
userInfo_visitDate        2925
countDetails                 0
crypt                        0
flirtstar                    0
freshman                     0
hasBirthday                  0
highlighted                  0
distance                     0
locked                       0
mobile                       0
online                       0
whazzup                   1184
userId                       0
pictureId                   65
isSystemProfile              0
dtype: int64

drop [city, locationCity, locationCitySub,userInfo_visitDate, whazzup]

In [6]:
# merge two data
merge_data = pd.DataFrame(data.merge(data2, on = "name"))
merge_data.head()

,gender_x,genderLooking,age_x,name,counts_details,counts_pictures_x,counts_profileVisits_x,counts_kisses_x,counts_fans,counts_g,...,hasBirthday,highlighted,distance_y,locked,mobile,online,whazzup_y,userId_y,pictureId_y,isSystemProfile_y
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,False,False,175.000000,False,True,False,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,False
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,False,False,138.000000,False,True,False,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,False
2,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,False,False,77.300003,False,False,False,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,False
3,F,M,24,Baby dee,0.81,18,7339,180,0,2,...,False,False,194.000000,False,True,True,Wicked Wonderlandüíï‚ù§Ô∏è,4ef9434cca61bece6a000002,54f2b4ce0b6ea1177e8b4d18,False
4,F,none,24,Anna,0.65,13,18672,492,0,1,...,False,False,318.000000,False,True,True,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,False

In [7]:
# drop all columns with nan value
merge_data = merge_data.dropna(axis = 1)
df = merge_data.set_index('userId_y')
df

,gender_x,genderLooking,age_x,name,counts_details,counts_pictures_x,counts_profileVisits_x,counts_kisses_x,counts_fans,counts_g,...,crypt_y,flirtstar,freshman,hasBirthday,highlighted,distance_y,locked,mobile,online,isSystemProfile_y
userId_y,,,,,,,,,,,,,,,,,,,,,
4e3842f79b70e7ea57000064,F,M,25,daeni,1.00,4,8279,239,0,3,...,False,False,False,False,False,175.000000,False,True,False,False
4e3d34bf5d2bce7b160006a3,F,M,22,italiana 92,0.85,5,663,13,0,0,...,False,False,False,False,False,138.000000,False,True,False,False
4eef8b81ebf2c8f64000000c,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,False,False,False,False,False,77.300003,False,False,False,False
4ef9434cca61bece6a000002,F,M,24,Baby dee,0.81,18,7339,180,0,2,...,False,False,False,False,False,194.000000,False,True,True,False
4f10cbc1883fa97a5f000015,F,none,24,Anna,0.65,13,18672,492,0,1,...,False,False,False,False,False,318.000000,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CRYmAywsqgqLYDjbBFufmAFnG9KPpBmUQtsIILeSnF6scyChH7XhUSOmw==,F,M,21,`Ca***.,0.08,5,6613,132,0,0,...,True,False,False,False,False,0.000000,False,True,False,False
CRYrwoeAFyMXYTvu24f8xxnCZa0B8UkGdWJva08acmqHfDycuKLDRTv5w==,F,M,21,`Ca***.,0.08,5,6613,132,0,0,...,True,False,False,False,False,0.000000,False,True,False,False
CRYZcn9t2PBykkNtxDcS59y2suJEIWD7npE+8xUW27Md03ZPtQ2pnfSMw==,F,M,21,`Ca***.,0.08,5,6613,132,0,0,...,True,False,False,False,False,0.000000,False,True,False,False
CRYmAywsqgqLYDjbBFufmAFnG9KPpBmUQtsIILeSnF6scyChH7XhUSOmw==,F,M,21,`Ca***.,0.08,5,6613,132,0,0,...,True,False,False,False,False,0.000000,False,True,False,False
CRYrwoeAFyMXYTvu24f8xxnCZa0B8UkGdWJva08acmqHfDycuKLDRTv5w==,F,M,21,`Ca***.,0.08,5,6613,132,0,0,...,True,False,False,False,False,0.000000,False,True,False,False

In [8]:
#check for NA or NULL value
df.isna().sum()

gender_x             0
genderLooking        0
age_x                0
name                 0
counts_details       0
                    ..
distance_y           0
locked               0
mobile               0
online               0
isSystemProfile_y    0
Length: 61, dtype: int64

In [9]:
list(df.columns)

['gender_x',
 'genderLooking',
 'age_x',
 'name',
 'counts_details',
 'counts_pictures_x',
 'counts_profileVisits_x',
 'counts_kisses_x',
 'counts_fans',
 'counts_g',
 'flirtInterests_chat_x',
 'flirtInterests_friends_x',
 'flirtInterests_date_x',
 'country',
 'isFlirtstar',
 'isHighlighted',
 'isInfluencer',
 'isMobile',
 'isNew',
 'isOnline',
 'isVip',
 'lang_count_x',
 'lang_fr_x',
 'lang_en_x',
 'lang_de_x',
 'lang_it_x',
 'lang_es_x',
 'lang_pt_x',
 'verified',
 'shareProfileEnabled',
 'birthd',
 'userId_x',
 'gender_y',
 'age_y',
 'counts_pictures_y',
 'counts_profileVisits_y',
 'counts_kisses_y',
 'flirtInterests_chat_y',
 'flirtInterests_friends_y',
 'flirtInterests_date_y',
 'connectedToFacebook',
 'isVIP',
 'isVerified',
 'lang_count_y',
 'lang_fr_y',
 'lang_en_y',
 'lang_de_y',
 'lang_it_y',
 'lang_es_y',
 'lang_pt_y',
 'countDetails',
 'crypt_y',
 'flirtstar',
 'freshman',
 'hasBirthday',
 'highlighted',
 'distance_y',
 'locked',
 'mobile',
 'online',
 'isSystemProfile_y']

In [ ]:
highlight = df['highlighted'].value_counts()
highlight

In [ ]:
highlight.plot.bar()

Highlight : Whether the user's profile is currently highlighted (at fetch time). [A user can use in-app currency to have one's profile temporarily highlighted and get more impressions/matches]